.root {
    -fx-background-color: #f4f6f9;
}

.label {
    -fx-text-fill: #1f2937;
}

.button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color: #1d4ed8;
}